.header {
    background-color: #ffffff;
    text-align: center;
    padding: 20px;
}

/* The navbar container */
.topnav {
    overflow: hidden;
    background-color: #333;
}

/* Navbar links */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

/* Links - change color on hover */
.topnav a:hover {
    background-color: #ffffff;
    color: black;
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
}
    <

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}50the three columns stack on top of each other instead of next to each other on smaller screens (600px wide or less) */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

h2{
  font-size: 55px;
  text-align: center;
  text-shadow: 2px 2px #ffffff;
}
body {
    background-image: url("marble.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}
p {
  color: black;
  font-size: 15pt;
  line-height: 50px;
  margin: 45px;
  border-color: #bfbfbf;
  border-width: 5px;
  border-style: solid;
  border-radius: 10px;
  text-indent:35px;
}
p.solid {border-style: solid;}

img {
  margin: 42px;
}
.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: black;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}
li {
  font-size: 30px;
}
